<div class="row">
  <div class="col col-12 align-items-center my-5">
    <div class="card px-3" style="width: 100%;">
      <img class="card-img-top px-3" src="..." alt="Chi Tiết Sách">
      <div class="card-body">
        <p class="card-text"><span>Tên Sách: </span> {{bookView.title}}</p>

        <p class="card-text"><span>Tác Giả: </span> {{bookView.author}}</p>

        <div>Mô Tả: </div>
        <p class="card-text">{{bookView.description}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
